var format = function (item) {
  var type = item.type
  var repo = item.repo
  var actor = item.actor
  var payload = item.payload

  var msg = ''
  switch (type) {
    case 'PushEvent': {
      msg = actor.display_login + ' pushed to ' + payload.ref + ' at ' + repo.name
      break
    }
    case 'IssuesEvent': {
      msg = actor.display_login + ' ' + payload.action + ' issue ' + repo.name + '#'
      break
    }
    case 'PullRequestEvent': {
      msg = actor.display_login + ' ' + payload.action + ' pull request ' + repo.name + '#'
      break
    }
    case 'IssueCommentEvent': {
      msg = actor.display_login + ' commented on issue ' + repo.name + '#'
      break
    }
    case 'WatchEvent': {
      msg = actor.display_login + ' ' + ' starred ' + repo.name
      break
    }
    case 'PublicEvent': {
      msg = actor.display_login + ' open sourced ' + repo.name
      break
    }
    case 'ForkEvent': {
      msg = actor.display_login + ' forked ' + payload.forkee.full_name + ' from ' + repo.name
      break
    }
    case 'CreateEvent': {
      msg = actor.display_login + ' created ' + payload.ref_type + ' ' + (payload.ref || '') + ' at ' + repo.name
      break
    }
    case 'DeleteEvent': {
      msg = actor.display_login + ' deleted ' + payload.ref_type + ' ' + payload.ref + ' at ' + repo.name
      console.log(msg)
      break
    }
    case 'MemberEvent': {
      msg = actor.display_login + ' ' + payload.action + ' permissions of ' + payload.member.login + ' to ' + payload.repository.full_name
      break
    }
    case 'PullRequestReviewCommentEvent': {
      msg = actor.display_login + payload.action + ' comment on ' + repo.name
      break
    }
    case 'GollumEvent': {
      msg = actor.display_login + ' editted the wiki of ' + repository.name
      break
    }
    case 'ReleaseEvent': {
      msg = actor.display_login + ' ' + payload.action + ' ' + payload.release.name + ' ' + repository.full_name
      break
    }
    case 'CommitCommentEvent': {
      msg = actor.display_login + ' ' + payload.action + ' comment ' + payload.repository.full_name 
      break
    }
    default: {
      msg = JSON.stringify(item)
      break
    }
  }

  return msg
};

module.exports = {
  format: format
};