var format = function (item) {
  var repo = item.repository || {}
  var msg = repo.full_name + '#' + item.number + ' opened at ' + item.created_at
  return msg
};

var formatDetail = function (issue) {
  var msg = ''
  return msg
};

module.exports = {
  format: format,
  formatDetail: formatDetail
};