var format = function(item) {
  var repoFullName = (item.repository || {}).full_name
  if (!repoFullName) {
    var repoUrl = item.repository_url || ''
    repoFullName = repoUrl.replace(getRegExp('https://api.github.com/repos/'), '')
  }
  var author = (item.user || {}).login

  return repoFullName + '#' + item.number + ' opened at ' + item.created_at + ' by ' + item.user.login
};

module.exports = {
  format: format
};